
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.env
pip-log.txt
pip-delete-this-directory.txt

# Flask
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
ehthumbs.db
abThumbs.db

# Mac
.DS_Store

# Logs
*.log

# Sensitive Files
.env
config.py
secrets.json
google_api_key.json

usage_data.json
